#contact {
  background: url('../images/Contact_photo.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 60px 0;
  color: white;



  label {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
  }

  *:focus {
  outline: none;
}

  input {
    margin-bottom: 30px;

    &.line {
      background: transparent;
      border: 2px solid white;
      width: 90%;
      font-size: 18px;
      color: white;
      height: 55px;
      padding: 0 20px;
      margin-right: 60px;
    }
  }

  textarea {
    background: transparent;
    border: 2px solid white;
    width: 100%;
    font-size: 18px;
    color: white;
    height: 150px;
    padding: 0 20px;
  }

  button {
      display: block;
      width: 400px;
      background-color: $blauwe-kleur;
      border: none;
      color: white;
      height: 50px;
      text-transform: uppercase;
      margin-top:30px;
      font-weight: 700; 

      &:hover {
        background-color: darken($blauwe-kleur, 20%);
      }
  }

  .contact-info {
    display: block;
    margin-top: 14px;
  }
}
