#footer {
  background-color: $footer-background-color;
  color: $grijs;
  padding: 60px 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      border-right: 1px solid $grijs;

      &:last-child {
        border-right: none;
      }

      &:first-child {
        padding: 0 20px 0 -20px;
      }

      a {
        color: $grijs;
        text-transform: uppercase;
        padding: 0 20px;

        &:hover {
          color: white;
          text-decoration: none;
        }

        &.first {
          padding: 0 20px 0 0;
        }
      }
    }
  }

}
