
h1 {

  &.header {
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 40px;
  }

  &.blauw {
    color: $blauwe-kleur;

    &:after {
      background-color: $blauwe-kleur;
    }
  }

  &.grijs {
    color: $grijs;

    &:after {
      background-color: $grijs;
    }
  }

  &.wit {
    color: white;

    &:after {
      background-color: white;
    }
  }

  &:after {
    content: ' ';
    position: relative;
    left: 0;
    display: block;
    width: 50px;
    height: 2px;
  }
}
