#header {
  background: url('../images/Hero.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .navigatie {
    background-color: rgba($nav-achterground, .8);
    padding: 30px 0;


    .logo {
      color: white;
      font-weight: 700;
      font-size: 30px;
      text-transform: uppercase;

      .blue {
        color: $blauwe-kleur;
      }
    }

    nav {
      ul {
        float: right;
        list-style: none;
        margin-top: 10px;

        li {
          float: left;
          margin-left: 30px;

          a {
            padding: 5px 20px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;

            &.active {
              color: $blauwe-kleur;
              border: 1px solid $blauwe-kleur;
            }

            &:hover {
              color: darken( $blauwe-kleur, 20%);
            }
          }
        }
      }
    }
  }

  .quote {
    font-family: 'Segoe UI light';
    display: block;
    width: 100%;
    text-align: center;
    font-size: 42px;
    margin: 100px 0;
    color: white;
    font-weight: 100;
    padding: 0 20px;

    span {
      background-color: rgba($nav-achterground, .8);
      padding: 0 20px;
    }
  }
}
