#testimonials {
  background-color: white;
  padding: 80px 0;
  color: $grijs;

  .wrapper {
    background-color: red;
    background: url('../images/quote.png') no-repeat top right;

  }

  p {
    font-size: 28px;
    line-height: 40px;
  }

  .name {
    color: $blauwe-kleur;
    font-size: 14px;
    font-weight: bold;

    &:before {
      content: '- ';
    }
  }
}
