@import "~bootstrap/scss/bootstrap";

// @import "fonts";
@import "variables";
@import "general";
@import "services";
@import "testimonials";
@import "header";
@import "contact";
@import "footer";

body {
  background: #fff;
  display: block;
  font-family:'Segoe UI Regular';
}
